#category {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

#category h2{
    margin-top: .5rem;
    margin-bottom: 2rem;
}

#category p {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#category img {
    margin: 2rem auto;
    max-width: 400px;
}

#category button{
    margin: 1rem;
}

@media(max-width: 620px){
    #category {
        max-width: 300px;
        margin-top: 1rem;
    }

    #category h2{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    #category img {
        margin: 2rem auto;
        max-width: 280px;
    }

    #category button{
        margin: .5rem;
        font-size: 13px;
    }
}