#question {
    text-align: center;
    max-width: 500px;
    background-color: #c72020;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2.5rem;
}

#question h2{
    margin-bottom: 2rem;
}

#question p {
    margin-bottom: 1rem;
}

#question button {
    border: 2px solid #fff;
    margin: .5rem;
}

@media(max-width: 620px){
    #question {
        max-width: 300px;
        margin-top: 0;
        margin-bottom: 3rem;
    }

    #question button {
        font-size: 13px;
    }

    #question h2{
        font-size: 1.4rem;
    }
}